@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;}


body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #444444;
}

/* heading and logo*/
h1,h2{
    font-family: oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo{
   display: block;
   background-color: #ddd;
   padding: 25px;
   font-size: 40px;
}

/* navigation links*/
#menu{
    font-size: 100%;
    letter-spacing: 4px;
}

#menu li{
   float: right;
    list-style-type: disc;
    margin-left: 30px;
}

#menu a {
    color: #b1aeae;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#menu, #logo{
    line-height: 80px;
}

#menu a:hover{
    background-color: #ddd;
    color: black;
}

.active{
    background-color: #6a7697;
    color:rgb(172, 172, 172);
}

/* main page image */

#main-outer{
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#main-image{
    height: 600px;
    width: 100%;
    background: url(../images/When_Do_Boxers_Stop_Growing.jpg) no-repeat center center; 
}

#cover-text {
    font-size: 130%;
    font-family: lato, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-left: 10px;

    background-color: rgba(49, 186, 228, 0.7);

    bottom: 30px;
    right: 600px;
    position: absolute;
}
#info{
    display: block;
    background-color: #ddd;
    padding: 25px;
    font-size: 20px;
    padding-right: 20px;
}
    

/*sign up form*/

.form-section {
    clear: left;
    background-size: auto;
    background-position: center;
    height: 600px;
    background: url(../images/boxer-WF.jpg) no-repeat;
       
}

/* footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* Gallery Photos */



/* Media queries */

/* For large to medium screens sizes from 1200px wide and down */
@media screen and (max-width: 1200px){
}

/* For medium screens sizes from 950px wide and down */
@media screen and (max-width: 950px){
}

/* For small screens sizes from 800px wide and down */
@media screen and (max-width: 800px){
    #photo{
        column-count: 2;
    }
}