@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;

}
body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #444444;
}

/* heading and logo*/
h1,h2{
    font-family: oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo{
    float:center;
    font-size: 300%;
}

/* navigation links*/
#menu{
    font-size: 100%;
    letter-spacing: 4px;
}

#menu li{
    float:left;
    list-style-type: disc;
    margin-left: 30px;
}

#menu a {
    text-decoration: none;
    color:inherit;
}

#menu, #logo{
    line-height: 80px;
}

#menu a:hover{
    border-bottom: 2px solid #3a3a3a;
}

.active{
    border-bottom: 2px solid #3a3a3a;
}